div{
    text-align: center;
}
label{
    vertical-align: middle;
}
.txt{
    margin: auto;
    width: 50%;
    border: 1px double black;
    padding: 10px;
}
.frmlag{
    margin: auto;
    width: 40%;
    border: 3px solid #f1f1f1;
    
}
